
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-8">
        <div class="text-center">
            <script src="//my.visme.co/visme-embed.js"></script>
            <div class="visme_d" data-url="w48rjn0k-covid-19-porcentajes" data-w="800" data-h="800" data-domain="my"></div>
            <p style="width:142px !important;border-radius:3px !important;padding:3px !important;font-size:12px !important;font-family:Arial, sans-serif !important;color:#314152 !important;white-space:nowrap !important">
                Made with <a href="https://www.visme.co/?vc=Made-With-Visme&amp;utm_medium=Embed" target="_blank" rel="noreferrer" style="font-weight:600 !important;text-decoration:none !important;font-size:12px !important;font-family:Arial, sans-serif !important;color:#314152 !important;white-space:nowrap !important">Visme</a>
            </p>
        </div>
    </div>
</div>